.title {
  margin: 0 0 0.5rem 0;
  font-size: 1.8rem;
}

.tag {
  margin-right: 0.5rem;
  border: 2px var(--primary) solid;
  border-radius: 10px;
  padding: 2px 5px;
  font-size: 1.2rem;
}

.time {
  text-align: right;
  margin: 0.5rem 0 0 0;
  font-size: 1.2rem;
}
