.card {
  margin: 16px;
  padding: 24px;
  background-color: var(--component-bg);
}

.card hr {
  margin: 16px 0;
  border-color: var(--border);
}

.flex {
  display: flex;
}

.myIcon {
  width: 100px;
  height: 100px;
  margin-right: 24px;
}

.myIcon img {
  border-radius: 50%;
}

.author {
  font-size: 1.6rem;
  font-weight: bold;
}

.job {
  font-size: 1.2rem;
  color: var(--text-secondary);
}

@media (max-width: 600px) {
  .myIcon {
    width: 70px;
    height: 70px;
  }

  .job,
  .add {
    display: none;
  }
}

/* TODO: コンポーネント分ける */
.iconButton {
  display: inline-block;
  border-radius: 50%;
  padding: 8px;
  width: 40px;
  height: 40px;
}

.iconButton svg {
  fill: var(--text-primary);
}

.iconButton:hover,
.iconButton:focus,
.iconButton:active {
  background: var(--border);
}
