.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-bottom: 1px var(--border) solid;
  padding: 8px 0;
  height: 160px;
  background-color: var(--component-bg);
}

.header a {
  margin-bottom: 16px;
  background: linear-gradient(transparent 70%, var(--primary) 70%);
  font-size: var(--site-title);
  font-weight: bold;
}

.header a h1 {
  margin: 0;
  font-size: var(--site-title);
}

.header a:hover,
.header a:focus,
.header a:active {
  background: linear-gradient(transparent 70%, var(--secondary) 70%);
}

.header div {
  font-size: var(--site-subtitle);
  color: var(--text-secondary);
}
