.card {
  margin: 1rem;
  border: 1px var(--border) solid;
  border-radius: 10px;
  background-color: var(--component-bg);
  transition: border 0.3s ease, box-shadow 0.3s ease, transform 0.3s ease;
}

.card a {
  display: block;
  padding: 1.5rem;
}

.card:hover,
.card:focus,
.card:active {
  border: 1px var(--primary) solid;
  box-shadow: 0 0 0 3px var(--primary);
  transform: scale(1.05, 1.05);
}
